.contact_container{
    width: 70%;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    transition: var(--transition);
}

.contact_option:hover{
    background: transparent;
    border: 1px solid var(--color-primary);
}

.contact_icon{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.9rem;
}

.contact_option h4{
    font-size: 1rem;
}

.contact_option h5{
    font-size: 0.8rem;
    color: var(--color-light);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    padding: 1rem;
    background: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-bg-variant);
    border-radius: 1rem;
    resize: none;
}

/*======================Media Queries(Medium Device)========================================*/
@media screen and (max-width: 1024px){
    .contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact_options{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact_option{
        padding: 0.8rem;
    }

    .contact_icon{
        margin-bottom: 0.3rem;
    }
    
    .contact_option a{
        margin-top: 0.5rem;
    }
  }
  
  /*======================Media Queries(Small Device)========================================*/
  @media screen and (max-width: 600px){
    .contact_container{
       width: var(--container-width-sm);
    }
  }